/*!
 * YP Blog minimal design
 *
 * Created at 2020-11-18 14:50
 * Author Yoga Pratama
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}
